<% include layout/header %>
<% include layout/navbar %>

<div class="row justify-content-center p-5 m-0">
    <img src="img/mongo_logo.png" alt="logo" width="50%">
    <h1 class="w-100 text-center text-muted my-3">About</h1>
    <div class="bg-dark text-white p-3">
        <p class="w-100 text-center m-0">API Mongodb - CRUD</p>
        <p class="w-100 text-center m-0">version 1.0.0</p>
    </div>
</div>

<% include layout/footer %>
