<% include layout/header %>
<% include layout/navbar %>

<div class="row justify-content-center p-5 m-0">
    <img src="img/mongo_logo.png" alt="logo" width="50%">
    <h1 class="w-100 text-center text-muted my-3">Welcome to API Mongodb - CRUD</h1>
    <button class="btn btn-success d-flex mt-3">
            Get Started
            <i class="fas fa-long-arrow-alt-right align-self-center ml-2"></i>
    </button>
</div>

<% include layout/footer %>
